@font-face {
    font-family: fontX;
    src: url("../assets/KaushanScriptX.ttf"); 
}

* {
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

body {
    margin: 0;
    height: 100vh;
    font-family: fontX;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* preloaderX X-Team */
.preloaderX {
    content: "";
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-top: 2px solid coral;
    border-right: 2px solid transparent;
    animation: preloaderX 0.7s linear infinite;
}

@keyframes preloaderX {
    to {
        transform: rotate(360deg);
    }
}

/* slideShowX X-Team */
.slideShowX {
    width: 80%;
    height: 70vh;

    background-image: url('../assets/bmw100.jpg');
    background-size: cover;
    background-position: center;

    display: none;
    justify-content: space-between;
    align-items: center;
}

.slideShowX h4 {
    align-self: flex-end;
    color: #fff;
    font-size: 1.2em;
    text-shadow: -2px 0px 5px #000;
}

.slideShowX a {
    width: 50px;
    cursor: pointer;

    color: #fff;
    font-size: 2em;
    text-shadow: -2px 0px 5px #000;
    text-align: center;
}

.slideShowX a:hover {
    color: #3874b6;
}

.slideShowX .prevX {
    padding-left: 30px;
}

.slideShowX .prevX:hover {
    padding-left: 15px;
    padding-right: 15px;
}

.slideShowX .nextX {
    padding-right: 30px;
}

.slideShowX .nextX:hover {
    padding-right: 15px;
    padding-left: 15px;
}

/* ThumbnailsX X-Team */
.thumbnailsX {
    width: 80%;
    height: 10vh;
    display: flex;
}

.thumbX {
    width: 25%;
    height: 10vh;
    cursor: pointer;

    background-image: url('../assets/bmw100.jpg');
    background-size: cover;
    background-position: center;
}

.thumbX:hover {
    opacity: 0.5;
}

.thumbnailsX div:nth-child(1) {
    background-image: url('../assets/bmw100.jpg');
}

/* mobile X-Team */
@media only screen and (max-width: 768px) {
    .slideShowX {
        width: 100%;
        height: 90vh;
    }
    .thumbnailsX {
        width: 100%;
    }
}